/* Element Selector */
h1 {
	color: #cfcf;
}

/* Grouping Selector, Class Selector */
h1,
.par {
	background-color: aquamarine;
}

/* ID Selector */
#p1 {
	color: blue;
}

#p2 {
	color: red;
}

#p3 {
	color: brown;
}

/* Universal Selector */
* {
	color: yellowgreen;
}

/* Pseudo Class Selector */
#hover:hover {
	background-color: black;
}
